.header {
	padding: 12px 24px;

	.header-container{
		display: flex;
		justify-content: space-between;

		.header__nav, .header__auth-menu {
			ul {
				display: flex;
				align-items: center;
				list-style-type: none;
				padding: 0;

				li {
					margin: 0 8px;
					display: flex;
					align-items: center;

					.header__nav--link {
						text-decoration: none;
						color: black;

						&:hover {
							color: lightblue;
						}
					}
				}
			}
		}
	}
}