.wishlist-item {
	padding: 8px;

	.wishlist-item__main {
		display: grid;
		justify-content: space-between;
		align-items: center;
		grid-template-columns: 30px 1fr 80px;

		&--dragging {
			box-shadow: -2px 3px 3px -2px rgba(0,0,0,0.25);
		}
		
		.wishlist-item__btns {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.wishlist-item__add-image {
				position: absolute;
				width: 100%;
				height: 100%; 
				opacity: 0;
				cursor: pointer;
			}
		}

		.wishlist-item__dnd-indicator {
			display: grid;
			align-items: center;
			cursor: grab;
		}
	}
}